.button {
    width: 206px;
    height: 48px;
    font-family: 'RobotoRegular';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-color: #57B255;
    color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
}