.contact-us {
    position: relative;
    &__container {
        display: flex;
        margin-top: 63px;
    }
    &__left {
        max-width: 574px;
    }
    &__title {
        font-family: 'RobotoBold';
        font-size: 34px;
        line-height: 40px;
        color: #141414;
    }
    &__text {
        width: 491px;
        margin-top: 30px;
        font-family: 'RobotoRegular';
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #343434;
    }
    &__button {
        margin-top: 40px;
    }
    &__right {
        margin-left: 141px;
    }
    &__image {
        width: 455px;
        height: 534px;
    }
    &::before {
        content: "";
        background-image: url(../images/dots.png);
        width: 320px;
        height: 320px;
        position: absolute;
        top: 309px;
        left: 754px;
        z-index: -1;
    }
}