.header {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    // @media(max-width:1300px) {
    // //     box-shadow: none;
    // //     border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    // // }
    // }
    &__container {
        display: flex;
    }
    &__logo {
        margin-top: 12px;
        margin-bottom: 11px;
        margin-right: 78px;
    }
    &__nav {
        margin-top: 28px;
        margin-bottom: 28px;
    }
}