.main-news {
    padding-top: 166px;
    background: url(../images/background-color.png) no-repeat 100%;
    padding-bottom: 132px;
    &__title {
        font-weight: 700;
        font-size: 54px;
        line-height: 63px;
        text-align: center;
        color: #FFFFFF;
    }
    &__text {
        position: relative;
        padding-top: 20px;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
        max-width: 727px;
        margin: 0 auto;
        &_blue {
            color: #61BED9;
            font-weight: 700;
        }
        &::before {
            content: '';
            width: 40px;
            height: 4px;
            background-color: #40A43D;
            border-radius: 4px;
            position: absolute;
            top: 142px;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
}
