.management {
    position: relative;
    &__container {
        display: flex;
        margin-top: 83px;
    }
    &__photo {
        max-width: 630px;
        margin-left: 70px;
    }
    &__title {
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        color: #141414;
        margin-bottom: 5px;
    }
    &__text {
        font-size: 16px;
        line-height: 140%;
        color: #343434;
        padding-top: 20px;
    }
    &__list {
        margin-top: 30px; 
    }
    &__item {
        font-size: 18px;
        line-height: 180%;
        color: #343434;
        list-style-type: square;
        margin-left: 20px;
    }
    &__button {
        margin-top: 30px;
    }
    &__image {
        width: 455px;
        height: 534px;
    }
    &::before {
        content: "";
        background-image: url(../images/dots.png);
        width: 320px;
        height: 320px;
        position: absolute;
        right: 10px;
        bottom: -126px;
    }
}