.management {
    position: relative;
    margin-bottom: -8px;
    &__container {
        display: flex;
        margin-top: 83px;
        @media(max-width: 1100px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: center;
            min-width: 100%;
            width: 100%;
            margin-top: 40px;
        }
    }
    &__content {
        max-width: 630px;
        margin-left: 70px;
        @media(max-width: 1100px) {
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        color: #141414;
        margin-bottom: 5px;
    }
    &__text {
        font-size: 16px;
        line-height: 140%;
        color: #343434;
        padding-top: 24px;
    }
    &__list {
        margin-top: 30px; 
    }
    &__item {
        font-size: 18px;
        line-height: 180%;
        color: #343434;
        list-style-type: square;
        margin-left: 19px;
    }
    &__button {
        margin-top: 29px;
        @media(max-width: 1100px) {
            transform: translateX(100%);
        }
    }
    &__image {
        width: 455px;
        height: 534px;
    }
    &::before {
        content: "";
        background-image: url(../images/dots.png);
        width: 320px;
        height: 320px;
        position: absolute;
        right: 10px;
        bottom: -118px;

        @media(max-width: 1100px) {
            display: none;
        }
    }
}