.mosaic {
    margin-top: 9px;
    position: relative;
    &__container {
        display: flex;
        justify-content: space-between;

        @media(max-width: 1150px){
            margin-top: 0;
            flex-wrap: wrap;    
        }
    }

    &__title {
        padding-top: 50px;
        margin-left: 60px;
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;  
        color: #141414;

        @media(max-width: 1150px) {
            margin-left: -30px;
        }
    }
    &__text {
        margin-left: 60px;
        margin-top: 22px;
        max-width: 491px;
        font-size: 18px;
        line-height: 140%;
        color: #343434;

        @media(max-width: 1150px) {
            margin-left: 0;
        }
    }

    &__photo {
        width: 100%;
        max-width: 569px;
        &::after {
            content: "";
            display: block;
            height: 0;
        }
        @media(max-width: 1150px) {
            margin: 0 auto;
        }  
    }

    &__img {
        padding-top: 49px;
        height: auto;
        max-width: 569px;
        padding-top: 48px;
        height: auto;
    }
    &__content {
        padding-bottom: 60px;
        &::after {
            content: "";
            display: block;
            background-color: #F6F9FC;
            width: 799px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;

            @media(max-width: 1150px) {
                height: 53%;
            }
        }

        @media(max-width: 1150px) {
            // padding-bottom: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            min-width: 100%;
            width: 100%;
        }
    }
    &__vertical-text {
        left: 3%;
        font-weight: 300;
        font-size: 20px;
        transform: rotate(-90deg);
        position: absolute;
        top: 48%;
        text-transform: uppercase;
        line-height: 23px;
        letter-spacing: 0.2em;
        color: #05060E;

        @media(max-width: 1400px) {
            display: none;
        }
    }
}
