*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

ul[class] {
    list-style: none;
}

a[class] {
    text-decoration: none;
}


@import 'button';
@import 'header';
@import 'main-nav';
@import 'hero';
@import 'fonts';
@import 'mosaic';
@import 'management';
@import 'main-news';
@import 'news-item';
@import 'contact-us';
@import 'our-blog';
@import 'item-blog';